<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
        <main class="ontainer">
            <div class="jumbotron">

                <!-- start resume -->
                <title>Jaekyeong Jang's Resume</title>
                <header>
                    <br><br>
                    <h3 class="float-md-start mb-0"><img src="/img/profile.png" alt="logo" style: width="150px" ;
                            height="150px"></h3>
                    <div class="name-address-wrapper">
                        <h1>Jaekyeong Jang</h1>
                        <p class="address"><br>937 Progress Ave, Toronto, ON M1G 3T8<a href="/JaekyeongJang_Resume.pdf"><h3 class="float-md-start mb-0"><img src="/img/pdf.png" alt="logo" style: width="50px"; height="50px"></h3></a></p>
                    </div>
                    <div class="name-address-wrapper">
                        <div>
                            <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a> |
                            <a href="https://github.com/jaekk9916" target="_blank">GitHub</a>
                        </div>
                        <div>
                            437-233-3806 | <a href="mailto:jjang35@my.centennialcollege.ca">jjang35@my.centennialcollege.ca</a>
                        </div>
                </header>

                <section>
                    <h4>FULL-STACK DEVELOPER</h4>
                    <p>Web Security | Web Development | Collaborative</p>
                </section>

                <section>
                    <h4>SUMMARY OF QUALIFICATIONS</h4>
                    <hr>
                    <ul class="lists">
                        <li>3+ years of professional industry experience in full stack development and web security;
                            Current student of Software Engineering Technology, specializing in Artificial Intelligence
                        </li>
                        <li>Proven skill in critical thinking, troubleshooting and collaborative approaches to
                            development projects</li>
                        <li>Experience with server-side security and web development: SQL injection and Cross-Site
                            Scripting (XSS)</li>

                    </ul>
                </section>
                <section>
                    <h4>EDUCATION & PROFESSIONAL DEVELOPMENT</h4>
                    <hr>
                    <h3>Software Engineering Technology - Artificial Intelligence, Advanced Diploma</h3>
                    <p>Centennial College, Toronto, ON - Sept 2022 - Present</p>
                    <p>GPA: 4.31/4.5 (A)</p>
                    <p>Focus: Java Programming | Machine Learning | Algorithms | Web Design | Client-Side Development | Unix/Linux</p>
                    <h3>Engineer Information Processing Certification</h3>
                    <p>May 2018 Ministry of Science and ICT, Seoul, South Korea</p>
                </section>

                <section>
                    <h4>RELEVANT EXPERIENCE</h4>
                    <hr>
                    <h3>WEB DEVELOPER - INCA Internet, Seoul, South Korea</h3>
                    <p>Aug 2018 - Jan 2021</p>
                    <ul class="lists">
                        <li>Conceptualize and design features and pages for an anti-malware solution that works on
                            Linux-based servers.</li>
                        <li>Participate in upgrading a Spring project to a Spring Boot project.</li>
                        <!-- ... and so on for other bullet points and other experiences ... -->
                    </ul>
                </section>

                <section>
                    <h4>SELECT ACADEMIC PROJECTS</h4>
                    <hr>
                    <ul class="lists">
                        <li>Web Development - HTML, JavaScript, jQuery: Responsive, user-centered photo album website
                            with favorites menu.</li>
                        <li>Software Requirements Specification - Laundry Agency App: Collaborated using Agile practices
                            for a SRS document for a web that connects a laundry agency with customers.</li>
                    </ul>
                </section>

                <section>
                    <h4>OTHER EXPERIENCE</h4>
                    <hr>
                    <h3>PREP COOK - Hanyang Jokbal Restaurant, Scarborough, ON</h3>
                    <p>June 2023 - Present</p>
                </section>

            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>