<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer fw-light">
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom fw-light">Service List</h2>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          <div class="col d-flex align-items-start">
            <img src="/img/java.png" alt="logo" style: width="50m"; height="50em"><use xlink:href="#bootstrap"/></svg>
            <div>
              <h3>JAVA</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="/img/js.png" alt="logo" style: width="50m"; height="50em"><use xlink:href="#cpu-fill"/></svg>
            <div>
              <h3>JavaScript</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="/img/jquery.png" alt="logo" style: width="50m"; height="50em"><use xlink:href="#calendar3"/></svg>
            <div>
              <h3>Jquery</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="/img/css-3.png" alt="logo" style: width="50m"; height="50em"><use xlink:href="#home"/></svg>
            <div>
              <h3>CSS</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="/img/python.png" alt="logo" style: width="50m"; height="50em"><use xlink:href="#speedometer2"/></svg>
            <div>
              <h3>Python</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="/img/linux.png" alt="logo" style: width="50m"; height="50em"><use xlink:href="#toggles2"/></svg>
            <div>
              <h3>Linux</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="/img/database.png" alt="logo" style: width="50m"; height="50em"><use xlink:href="#geo-fill"/></svg>
            <div>
              <h3>OracleDB</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="/img/agile.png" alt="logo" style: width="50m"; height="50em"><use xlink:href="#tools"/></svg>
            <div>
              <h3>Agile</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
        </div>
      </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   